@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    
        <NavMenu />

    <main>
        <TopBar />

        <AuthorizeView>
            <Authorized>
                <article class="content px-4">
                    @Body
                </article>
            </Authorized>
            <NotAuthorized>
                <LoginStart />
            </NotAuthorized>
        </AuthorizeView>

    </main>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code {
    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}