<AuthorizeView>
<Authorized>
    <div class="sidebar">
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Employee App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" ></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" ></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" ></span> Fetch data
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => expandSubMenu = !expandSubMenu" style="cursor:pointer">
                <span class="oi oi-spreadsheet" ></span> Timesheets >>
            </NavLink>
            @if(expandSubMenu)
            {
                <ul class="nav flex-column">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="fetchdata">
                            <span class="oi oi-droplet"></span> Current Timesheet
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="counter">
                            <span class="oi oi-droplet"></span> History
                        </NavLink>
                    </div>
                </ul>
            }
        </div>


    </nav>
</div>
</div>
</Authorized>
</AuthorizeView>
@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
